.accordion_section {
  display: flex;
  flex-direction: column;
}
.accordion {
  width: 450px;
  margin: 0 auto;
  background: hsla(165, 89%, 31%, 1);
  background: linear-gradient(
    90deg,
    hsla(165, 89%, 31%, 1) 0%,
    hsla(161, 46%, 49%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(165, 89%, 31%, 1) 0%,
    hsla(161, 46%, 49%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(165, 89%, 31%, 1) 0%,
    hsla(161, 46%, 49%, 1) 100%
  );
  color: rgb(236, 236, 236);
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.5s ease;
}
.accordion_title {
  font-weight: 700;
  font-size: 16px;
}
/* Content */
.accordion_content {
  width: 450px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.accordion_text {
  font-weight: 400;
  font-size: 15px;
  padding: 18px;
  border-bottom: 2px solid rgb(19, 16, 16);
}
/* Icon */
.accordion_icon {
  margin-left: auto;
  transition: transform 0.5s ease;
}
.icon_rotate {
  transform: rotate(180deg);
}
